
.icon-infomation:before { content: '\e800'; } /* '' */
.icon-recommend:before { content: '\e801'; } /* '' */
.icon-invest:before { content: '\e802'; } /* '' */
.icon-follow:before { content: '\e803'; } /* '' */
.icon-chat:before { content: '\e804'; } /* '' */
